.gradle/
.idea/
gradle/
local.properties
.idea/workspace.xml
.idea/libraries
.DS_Store
build/
captures/
Where.iml
settings.gradle
gradlew.bat
gradlew
gradle.properties
build.gradle
app/build/
app/app.iml
app/build.gradle
app/proguard-rules.pro
.idea/
